[Unit]
Description=Ebus daemon für das Empfangen der Betriebsdaten einer Wolf Wärmepumpe

[Service]
Type=simple
User=pi
ExecStart=/home/pi/ebusd/build/ebusd /home/pi/ebusd/build/settings_example.xml

[Install]
WantedBy=multi-user.target

